<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<body style="font-family: sans; background-color: #384040; color: #89de89;">

<div th:if="${message}">
  <p th:text="${message}"></p>
</div>

<div>
  <form method="post" enctype="multipart/form-data" action="/">
    <table>
      <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
      <tr><td>Description:</td><td><input type="text" name="description" /></td></tr>
      <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
  </form>
</div>

<table>
<tbody>
  <tr th:each="doc : ${docs}">
    <td style="font-family: mono;" th:text="${doc.id}"></td>
    <td style="text-align: right;" th:text="${doc.size}"></td>
    <td>
      <a th:href="@{/files/download/{id}(id=${doc.id})}"
         th:text="${doc.name}"></a>
    </td>
    <td th:text="${doc.description}"></td>
    <td>
      <form th:action="@{/files/remove/{id}(id=${doc.id})}" method="post">
        <!--<input type="text" name="id" th:field="${doc.id}">-->
        <input type="submit" value="Del" />
      </form>
    </td>
  </tr>
</tbody>
</table>

</body>
</html>